.grid-item {
    border: 1px solid #ccc;
    border-left: 5px solid;
    height: 50px;
    margin-bottom: 4px;
    padding: 7px;
    border-radius: 4px;
    cursor: pointer;
    /*background: #EEEEEE;*/
    box-shadow: #888 1px 1px 3px;
}

.grid-item.task {
    border-left-color: #428bca;
}

.grid-item.bug {
    border-left-color: #f0ad4e;
}

.code {
    width: 62px;
}
.code span{
    width: 40px;
}

.title {
}

.priority{
    width:16px;
    height:10px;
    margin-top:7px;
    border-radius: 5px;
}

.priority.l1{
    background: #d9534f;
}
.priority.l2{
    background: #f0ad4e;
}
.priority.l3{
    background: #5cb85c;
}
.priority.l4{
    background: #5bc0de;
}
.glyphicon.l1{
    color: #d9534f;
}
.glyphicon.l2{
    color: #f0ad4e;
}
.glyphicon.l3{
    /*color: #5cb85c;*/
    color: #fff;
}
.glyphicon.l4{
    /*color: #5bc0de;*/
    color: #fff;
}
.code_title{
    width: 100%;
}
.gray{
    color: #bbbbbb;
}

.issue_card{
    width: 100%;
}
.issue_card td{
    padding: 2px 2px;
}
.issue_card td:nth-child(odd){
    text-align: right;
}
ul li{
    margin-bottom: 0px !important;
}

.layer_button{
    float: right;
    width: 100%;
    padding: 5px 17px 15px 17px;
    position: relative;
}
.layer_button button{
    float: right;
}

.recent-posts, .recent-comments, .recent-users {
    margin:0 0 20px 0;
    padding: 0;
}
.recent-posts li, .recent-comments li, .article-post li, .recent-users li {
    border-bottom: 1px dotted #AEBDC8;
    list-style: none outside none;
    padding: 10px 0;
    background: #f8f8f8;
}

.recent-posts li:last-child{
    border-bottom: 0px !important;
}
.article-post p{
    margin-bottom:0px;
    outline:none;
}

.brief_info span{
    margin-right:30px;
}
.item-left{
    margin-left:7px;
    height:40px;
}
.attachment_item{
    height: 33px;
}
.attachment{
    width: 28px;
    height: 32px;
    display: block;
}
.attachment_item span{
    color: #737373;
}
.attachment_a{
    margin-top:4px;
}
.attachment_size{
    float: right;
    margin-left: 20px;
    margin-top:4px;
}
.attachment_time{
    float: right;
    margin-left: 10px;
    margin-top:4px;
}
.attachment.png{
    background: url("../../../comm/image/icon/32/png_32.png") no-repeat 0 0;
    background-size: 65%;
}
.attachment.ai{
    background: url("../../../comm/image/icon/32/ai_32.png") no-repeat 0 0;
    background-size: 65%;
}
.attachment.avi{
    background: url("../../../comm/image/icon/32/avi_32.png") no-repeat 0 0;
    background-size: 65%;
}
.attachment.css{
    background: url("../../../comm/image/icon/32/css_32.png") no-repeat 0 0;
    background-size: 65%;
}
.attachment.csv{
    background: url("../../../comm/image/icon/32/csv_32.png") no-repeat 0 0;
    background-size: 65%;
}
.attachment.dbf{
    background: url("../../../comm/image/icon/32/dbf_32.png") no-repeat 0 0;
    background-size: 65%;
}
.attachment.doc{
    background: url("../../../comm/image/icon/32/doc_32.png") no-repeat 0 0;
    background-size: 65%;
}
.attachment.dwg{
    background: url("../../../comm/image/icon/32/dwg_32.png") no-repeat 0 0;
    background-size: 65%;
}
.attachment.exe{
    background: url("../../../comm/image/icon/32/exe_32.png") no-repeat 0 0;
    background-size: 65%;
}
.attachment.fla{
    background: url("../../../comm/image/icon/32/fla_32.png") no-repeat 0 0;
    background-size: 65%;
}
.attachment.html{
    background: url("../../../comm/image/icon/32/html_32.png") no-repeat 0 0;
    background-size: 65%;
}
.attachment.iso{
    background: url("../../../comm/image/icon/32/iso_32.png") no-repeat 0 0;
    background-size: 65%;
}
.attachment.jpg{
    background: url("../../../comm/image/icon/32/jpg_32.png") no-repeat 0 0;
    background-size: 65%;
}
.attachment.js{
    background: url("../../../comm/image/icon/32/js_32.png") no-repeat 0 0;
    background-size: 65%;
}
.attachment.json{
    background: url("../../../comm/image/icon/32/json_32.png") no-repeat 0 0;
    background-size: 65%;
}
.attachment.mp3{
    background: url("../../../comm/image/icon/32/mp3_32.png") no-repeat 0 0;
    background-size: 65%;
}
.attachment.mp4{
    background: url("../../../comm/image/icon/32/mp4_32.png") no-repeat 0 0;
    background-size: 65%;
}
.attachment.pdf{
    background: url("../../../comm/image/icon/32/pdf_32.png") no-repeat 0 0;
    background-size: 65%;
}
.attachment.ppt{
    background: url("../../../comm/image/icon/32/ppt_32.png") no-repeat 0 0;
    background-size: 65%;
}
.attachment.psd{
    background: url("../../../comm/image/icon/32/psd_32.png") no-repeat 0 0;
    background-size: 65%;
}
.attachment.rtf{
    background: url("../../../comm/image/icon/32/rtf_32.png") no-repeat 0 0;
    background-size: 65%;
}
.attachment.search{
    background: url("../../../comm/image/icon/32/search_32.png") no-repeat 0 0;
    background-size: 65%;
}
.attachment.svg{
    background: url("../../../comm/image/icon/32/svg_32.png") no-repeat 0 0;
    background-size: 65%;
}
.attachment.txt{
    background: url("../../../comm/image/icon/32/txt_32.png") no-repeat 0 0;
    background-size: 65%;
}
.attachment.unknown{
    background: url("../../../comm/image/icon/32/unknown_32.png") no-repeat 0 0;
    background-size: 65%;
}
.attachment.xls{
    background: url("../../../comm/image/icon/32/xls_32.png") no-repeat 0 0;
    background-size: 65%;
}
.attachment.xml{
    background: url("../../../comm/image/icon/32/xml_32.png") no-repeat 0 0;
    background-size: 65%;
}
.attachment.zip2{
    background: url("../../../comm/image/icon/32/zip2_32.png") no-repeat 0 0;
    background-size: 65%;
}
.attachment.zip{
    background: url("../../../comm/image/icon/32/zip_32.png") no-repeat 0 0;
    background-size: 65%;
}

