<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sgcc.pesticide.settings.dao.SettingsDao">
    <insert id="insertUsers" parameterType="java.util.Map">
        INSERT INTO pesticide.s_users (
          uuid,
          username,
          password,
          nickname,
          isenable,
          create_time
        ) VALUES (
            #{uuid},
            #{username,jdbcType = VARCHAR},
            #{password,jdbcType = VARCHAR},
            #{nickname,jdbcType = VARCHAR},
            '1',
            sysdate()
        )
    </insert>
    <select id="queryUsers" resultType="Users" parameterType="java.util.Map">
        SELECT * FROM S_USERS T
        WHERE 1=1
        <if test="query_username != null and query_username != ''">
            AND T.USERNAME like CONCAT('%',#{query_username},'%')
        </if>
        <if test="query_nickname != null and query_nickname != ''">
            AND T.NICKNAME like CONCAT('%',#{query_nickname},'%')
        </if>
        <if test="query_isEnable != null and query_isEnable != ''">
            AND T.ISENABLE = #{query_isEnable}
        </if>
    </select>
    <select id="queryObject" resultType="Objects">
        select * FROM S_OBJECT
    </select>
    <select id="checkIsExist" parameterType="String" resultType="java.lang.String">
        SELECT  COUNT(1) FROM pesticide.s_users T WHERE T.username=#{username}
    </select>

</mapper>
