<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sgcc.pesticide.settings.dao.SettingsDao">

    <!--插入用户-->
    <insert id="insertUsers" parameterType="java.util.Map">
        INSERT INTO pesticide.s_users (
          uuid,
          username,
          password,
          nickname,
          isenable,
          create_time
        ) VALUES (
            #{uuid},
            #{username,jdbcType = VARCHAR},
            #{password,jdbcType = VARCHAR},
            #{nickname,jdbcType = VARCHAR},
            '1',
            sysdate()
        )
    </insert>

    <!--修改用户-->
    <update id="updateUsers">
        UPDATE pesticide.s_users SET password=#{password},nickname=#{nickname} where uuid=#{uuid}
    </update>

    <!--删除用户-->
    <delete id="deleteUser" parameterType="String">
        DELETE FROM pesticide.s_users WHERE uuid=#{uuid};
    </delete>

    <!--删除用户-->
    <delete id="deleteObject" parameterType="String">
        DELETE FROM pesticide.s_object WHERE uuid=#{uuid};
    </delete>

    <!--查询用户-->
    <select id="queryUsers" resultType="Users" parameterType="java.util.Map">
        SELECT * FROM S_USERS T
        WHERE 1=1
        <if test="query_username != null and query_username != ''">
            AND T.USERNAME like CONCAT('%',#{query_username},'%')
        </if>
        <if test="query_nickname != null and query_nickname != ''">
            AND T.NICKNAME like CONCAT('%',#{query_nickname},'%')
        </if>
        <if test="query_isEnable != null and query_isEnable != ''">
            AND T.ISENABLE = #{query_isEnable}
        </if>
    </select>

    <!--查询项目-->
    <select id="queryObject" resultType="Objects" parameterType="java.util.Map">
        select * FROM S_OBJECT T WHERE 1=1
        <if test="query_objectCode != null and query_objectCode != ''">
            AND T.object_code = #{query_objectCode}
        </if>
        <if test="query_objectName != null and query_objectName != ''">
            AND T.OBJECT_NAME like CONCAT ('%',#{query_objectName},'%')
        </if>
        <if test="query_isEnable != null and query_isEnable != ''">
            AND T.ISENABLE = #{query_isEnable}
        </if>
    </select>

    <!--查询是否已经存在该名字的用户-->
    <select id="checkIsExist" parameterType="String" resultType="java.lang.String">
        SELECT  COUNT(1) FROM pesticide.s_users T WHERE T.username=#{username}
    </select>

    <!--通过uuid查询用户-->
    <select id="queryUserByUUID" parameterType="String" resultType="com.sgcc.pesticide.settings.model.Users">
        select * from pesticide.s_users t where t.uuid=#{uuid};
    </select>

</mapper>
