<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sgcc.pesticide.workbench.dao.WorkbenchDao">

    <select id="getIssueList" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT
          vi.UUID,
          vi.CODE,
          vi.TITLE,
          vi.ISSUE_TYPE,
          vi.PRIORITY,
          vi.VERSION_CODE,
          date_format(Vi.update_time, '%Y-%m-%d %T') UPDATE_TIME,
          su.NICKNAME CREATE_USER,
          vi.STATE,
          su2.nickname PRINCIPAL
         FROM v_issue vi
         LEFT JOIN s_users su
           ON su.username = vi.create_user
         LEFT JOIN s_users su2
           ON su2.username = vi.principal
        WHERE 1=1
          AND vi.object_code = #{object_code}
          AND ((vi.STATE in ('1','3') AND vi.principal = #{principal})
          OR (vi.STATE in ('0','5','7') AND vi.create_user = #{principal})
          OR (vi.STATE = '4' AND 1=(SELECT COUNT(*) FROM p_role_user pru WHERE pru.object_code = #{object_code} AND pru.USERNAME = #{principal} AND pru.ROLE_ID = 'tester')))
        ORDER BY vi.update_time DESC
    </select>

    <select id="getTaskDetail" resultType="java.util.Map" parameterType="String">
        SELECT
          t.uuid,
          'T' issue_type,
          t.task_code issue_code,
          t.object_code,
          t.model_code,
          t.title,
          t.description,
          t.principal,
          u1.nickname principal_user_name,
          t.parent_code,
          t.version_code,
          t.priority,
          t.working_day,
          date_format(t.deadline, '%Y-%m-%d') deadline,
          t.state,
          t.is_read,
          t.is_enable,
          date_format(t.create_time, '%Y-%m-%d %T') create_time,
          t.create_user,
          u2.nickname create_user_name
        FROM t_task t
        LEFT JOIN s_users u1
          ON u1.username = t.principal
         AND u1.isenable = '1'
        LEFT JOIN s_users u2
          ON u2.username = t.create_user
         AND u2.isenable = '1'
        WHERE t.uuid = #{uuid}
    </select>

    <select id="getBugDetail" resultType="java.util.Map" parameterType="String">
        SELECT
          t.uuid,
          'B' issue_type,
          t.bug_code issue_code,
          t.object_code,
          t.model_code,
          t.title,
          t.description,
          t.principal,
          u1.nickname principal_user_name,
          t.parent_code,
          t.version_code,
          t.priority,
          t.bug_level,
          t.result,
          date_format(t.deadline, '%Y-%m-%d') deadline,
          t.state,
          t.is_read,
          t.is_enable,
          date_format(t.create_time, '%Y-%m-%d %T') create_time,
          t.create_user,
          u2.nickname create_user_name
        FROM t_bug t
        LEFT JOIN s_users u1
          ON u1.username = t.principal
         AND u1.isenable = '1'
        LEFT JOIN s_users u2
          ON u2.username = t.create_user
         AND u2.isenable = '1'
        WHERE t.uuid = #{uuid}
    </select>

    <select id="getModel" resultType="java.lang.String" parameterType="String">
        select model_code from s_model where object_code = #{objectId};
    </select>
    <select id="getAttachment" resultType="java.util.Map">
        SELECT
            t.uuid,
            t.file_name,
            t.file_size,
            t.file_type,
            date_format(t.create_time, '%Y-%m-%d %T') create_time,
            t.create_user
        FROM t_file t
        WHERE t.isenable = '1' AND business_id = #{businessId};
    </select>
    <select id="getAttachmentDetailByUuid" resultType="java.lang.String">
        select t.file_name from t_file t WHERE t.uuid = #{uuid};
    </select>

    <update id="updateTask" parameterType="Map">
        UPDATE t_task
           SET
           update_time  = sysdate()
           <if test="state != null and state != ''">
           ,state = #{state}
           </if>
           <if test="principal != null and principal != ''">
           ,principal = #{principal}
           </if>

         WHERE uuid = #{businessId};
    </update>

    <update id="updateBug" parameterType="Map">
        UPDATE t_bug
           SET
            update_time  = sysdate()
            <if test="state != null and state != ''">
                ,state = #{state}
            </if>
            <if test="principal != null and principal != ''">
                ,principal = #{principal}
            </if>
         WHERE uuid = #{businessId};
    </update>

    <insert id="insertPushInfo" parameterType="Map">
        INSERT INTO t_push
        (
          uuid,
          business_id,
          issue_type,
          model_code,
          description,
          create_user,
          create_time,
          push_state,
          isenable
        )
        VALUES
        (
          #{uuid,jdbcType = VARCHAR},
          #{businessId,jdbcType = VARCHAR},
          #{issueType,jdbcType = VARCHAR},
          #{model_code,jdbcType = VARCHAR},
          #{description,jdbcType = VARCHAR},
          #{create_user,jdbcType = VARCHAR},
          sysdate(),
          '0',
          '1'
        );
    </insert>


</mapper>
