<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sgcc.pesticide.workbench.dao.WorkbenchDao">
    


    <select id="getIssueList" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT
          UUID,
          CODE,
          TITLE,
          ISSUE_TYPE,
          PRIORITY,
          VERSION_CODE
         FROM v_issue
        WHERE principal = #{principal}
          AND object_code = #{object_code}
          AND STATE = '1'
        ORDER BY create_time DESC
    </select>

    <select id="getTaskDetail" resultType="java.util.Map" parameterType="String">
        SELECT
          t.uuid,
          'T' issue_type,
          t.task_code issue_code,
          t.object_code,
          t.model_code,
          t.title,
          t.description,
          t.principal,
          u1.nickname principal_user_name,
          t.parent_code,
          t.version_code,
          t.priority,
          t.working_day,
          t.deadline,
          t.state,
          t.is_read,
          t.is_enable,
          t.create_time,
          t.create_user,
          u2.nickname create_user_name
        FROM t_task t
        LEFT JOIN s_users u1
          ON u1.username = t.principal
         AND u1.isenable = '1'
        LEFT JOIN s_users u2
          ON u2.username = t.create_user
         AND u2.isenable = '1'
        WHERE t.uuid = #{uuid}
    </select>

    <select id="getBugDetail" resultType="java.util.Map" parameterType="String">
        SELECT
          t.uuid,
          'B' issue_type,
          t.bug_code issue_code,
          t.object_code,
          t.model_code,
          t.title,
          t.description,
          t.principal,
          u1.nickname principal_user_name,
          t.parent_code,
          t.version_code,
          t.priority,
          t.bug_level,
          t.result,
          t.deadline,
          t.state,
          t.is_read,
          t.is_enable,
          t.create_time,
          t.create_user,
          u2.nickname create_user_name
        FROM t_bug t
        LEFT JOIN s_users u1
          ON u1.username = t.principal
         AND u1.isenable = '1'
        LEFT JOIN s_users u2
          ON u2.username = t.create_user
         AND u2.isenable = '1'
        WHERE t.uuid = #{uuid}
    </select>

    <select id="getModel" resultType="java.lang.String" parameterType="String">
        select model_code from s_model where object_code = #{objectId};
    </select>

    <update id="updateTask" parameterType="Map">
        UPDATE t_task
           SET
           <if test="state != null and state != ''">
           state = #{state}
           </if>
           <if test="principal != null and principal != ''">
           principal = #{principal}
           </if>
         WHERE uuid = #{businessId};
    </update>

    <update id="updateBug" parameterType="Map">
        UPDATE t_bug
           SET
            <if test="state != null and state != ''">
                state = #{state}
            </if>
            <if test="principal != null and principal != ''">
                principal = #{principal}
            </if>
         WHERE uuid = #{businessId};
    </update>

    <insert id="insertPushInfo" parameterType="Map">
        INSERT INTO t_push
        (
          uuid,
          business_id,
          issue_type,
          model_code,
          description,
          create_user,
          create_time,
          push_state,
          isenable
        )
        VALUES
        (
          #{uuid,jdbcType = VARCHAR},
          #{businessId,jdbcType = VARCHAR},
          #{issueType,jdbcType = VARCHAR},
          #{model_code,jdbcType = VARCHAR},
          #{description,jdbcType = VARCHAR},
          #{create_user,jdbcType = VARCHAR},
          sysdate(),
          '0',
          '1'
        );
    </insert>

</mapper>
