.logo{
    height: 67px;
    width:auto;
}

#content-container{
    min-height: 556px;
    text-align: center;
}
#content-container >div{
    margin:0 auto;
    width:960px;
}
.head_float{
    position:fixed !important;
    z-index:99999 !important;
    width:100%;
    box-shadow: 2px 2px 5px #888;
}