
form > div {
    margin-bottom: 15px !important;
    border-radius: 4px;
}

.edit_focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}



.full_button {
    width: 100%;
}

.mb_15 {
    margin-bottom: 15px;
}

#link_info {
    height: 30px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 4px;
}

#link_info span{
    line-height: 30px;
}

#link_info_close{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 30px;
    text-align: center;
    /*pointer-events: none;*/
    cursor: pointer !important;
}
.modal-item{
    height: 30px;
    position: relative;
    padding:4px 15px;
}
.bug_level{
    height: 29px;
}
.bug_level .radio:first-child{
    margin-left:-15px;
}
.bug_level .radio{
    margin-top:0px;
}

.addw{
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    /*-webkit-transition: opacity 0.5s;*/
    /*-moz-transition: opacity 0.5s;*/
    /*-ms-transition: opacity 0.5s;*/
    /*-o-transition: opacity 0.5s;*/
    /*transition: opacity 0.5s;*/

}
.add{
    -webkit-transform: scale(0.01);
    -moz-transform: scale(0.01);
    -ms-transform: scale(0.01);
    transform: scale(0.01);
    opacity: 0;

}

.greybackground{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99998;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    opacity: 0.3;
    background-color: #000;

}

.shake.shake-horizontal-add {
    -webkit-animation-name: shake-horizontal;
    -ms-animation-name: shake-horizontal;
    animation-name: shake-horizontal;
    -webkit-animation-duration: 100ms;
    -ms-animation-duration: 100ms;
    animation-duration: 100ms;
    -webkit-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -ms-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-delay: 0s;
    -ms-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-play-state: running;
    -ms-animation-play-state: running;
    animation-play-state: running
}