<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sgcc.pesticide.create.dao.CreationDao">

    <!-- insert task info -->
    <insert id="insertTask" parameterType="java.util.Map">
        INSERT INTO t_task
        (
        uuid,
        task_code,
        object_code,
        model_code,
        title,
        description,
        principal,
        parent_code,
        version_code,
        priority,
        working_day,
        <if test="deadline != null and deadline != '' ">
        deadline,
        </if>
        state,
        is_read,
        is_enable,
        create_time,
        update_time,
        create_user
        )
        VALUES
        (
        #{uuid,jdbcType=VARCHAR},
        #{task_code,jdbcType=VARCHAR},
        #{object_code,jdbcType=VARCHAR},
        #{model_code,jdbcType=VARCHAR},
        #{title,jdbcType=VARCHAR},
        #{description,jdbcType=VARCHAR},
        #{principal,jdbcType=VARCHAR},
        #{parent_code,jdbcType=VARCHAR},
        #{version_code,jdbcType=VARCHAR},
        #{priority,jdbcType=VARCHAR},
        #{working_day,jdbcType=VARCHAR},
        <if test="deadline != null and deadline != '' ">
        #{deadline},
        </if>
        #{state,jdbcType=VARCHAR},
        '0',
        '1',
        sysdate(),
        sysdate(),
        #{create_user,jdbcType=VARCHAR}
        );
    </insert>

    <!--update task info-->
    <update id="updateTask" parameterType="java.util.Map">
        UPDATE t_task
        SET
        object_code  = #{object_code,jdbcType=VARCHAR},
        model_code   = #{model_code,jdbcType=VARCHAR},
        title        = #{title,jdbcType=VARCHAR},
        description  = #{description,jdbcType=VARCHAR},
        principal    = #{principal,jdbcType=VARCHAR},
        parent_code  = #{parent_code,jdbcType=VARCHAR},
        version_code = #{version_code,jdbcType=VARCHAR},
        priority     = #{priority,jdbcType=VARCHAR},
        working_day  = #{working_day,jdbcType=VARCHAR},
        <if test="deadline != null and deadline != '' ">
        deadline     = #{deadline},
        </if>
        update_time  = sysdate(),
        state        = #{state,jdbcType=VARCHAR},

        WHERE uuid = #{uuid}
    </update>

    <!--get the max code of task-->
    <select id="getTaskCode" resultType="int">
        SELECT ifnull(MAX(CAST(REPLACE(task_code,'T','') as unsigned int)),0) FROM t_task
    </select>

    <!--insert a new bug info-->
    <insert id="insertBug" parameterType="java.util.Map">
        INSERT INTO t_bug (
          uuid,
          bug_code,
          object_code,
          model_code,
          title,
          description,
          principal,
          parent_code,
          version_code,
          priority,
          bug_level,
          result,
          <if test="deadline != null and deadline != '' ">
          deadline,
          </if>
          state,
          is_read,
          is_enable,
          create_time,
          update_time,
          create_user
        )
        VALUES (
          #{uuid, jdbcType=VARCHAR},
          #{bug_code, jdbcType=VARCHAR},
          #{object_code, jdbcType=VARCHAR},
          #{model_code, jdbcType=VARCHAR},
          #{title, jdbcType=VARCHAR},
          #{description, jdbcType=VARCHAR},
          #{principal, jdbcType=VARCHAR},
          #{parent_code, jdbcType=VARCHAR},
          #{version_code, jdbcType=VARCHAR},
          #{priority, jdbcType=VARCHAR},
          #{bug_level, jdbcType=VARCHAR},
          #{result, jdbcType=VARCHAR},
          <if test="deadline != null and deadline != '' ">
          #{deadline},
          </if>
          #{state, jdbcType=VARCHAR},
          '0',
          '1',
          sysdate(),
          sysdate(),
          #{create_user, jdbcType=VARCHAR}
        );
    </insert>

    <!--update the bug info-->
    <update id="updateBug" parameterType="java.util.Map">
        UPDATE t_bug
        SET
          object_code = #{object_code, jdbcType=VARCHAR},
          model_code = #{model_code, jdbcType=VARCHAR},
          title = #{title, jdbcType=VARCHAR},
          description = #{description, jdbcType=VARCHAR},
          principal = #{principal, jdbcType=VARCHAR},
          parent_code = #{parent_code, jdbcType=VARCHAR},
          version_code = #{version_code, jdbcType=VARCHAR},
          priority = #{priority, jdbcType=VARCHAR},
          bug_level = #{bug_level, jdbcType=VARCHAR},
          result = #{result, jdbcType=VARCHAR},
          <if test="deadline != null and deadline != '' ">
          deadline = #{deadline},
          </if>
          update_time  = sysdate(),
          state = #{state, jdbcType=VARCHAR}
        WHERE uuid = #{uuid};
    </update>

    <!--get the max code of bug-->
    <select id="getBugCode" resultType="int">
        SELECT ifnull(MAX(CAST(REPLACE(bug_code,'B','') as unsigned int)),0) FROM t_bug
    </select>

    <select id="searchTask" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT CODE,TITLE,ISSUE_TYPE
          FROM PESTICIDE.V_ISSUE
         WHERE CODE LIKE concat('%',#{code},'%') AND OBJECT_CODE = #{objectCode}
    </select>

</mapper>
