<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sgcc.pesticide.launch.dao.LaunchDao">

    <select id="getIssueList" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT
          VI.UUID,
          VI.CODE,
          VI.TITLE,
          VI.ISSUE_TYPE,
          VI.STATE,
          VI.VERSION_CODE,
          SV.PUBLISH_DATE
        FROM V_ISSUE VI
          LEFT JOIN S_VERSION SV
            ON SV.VERSION_CODE = VI.VERSION_CODE
        WHERE VI.OBJECT_CODE = #{object_code}
        ORDER BY ifnull(sv.publish_date, str_to_date('9999-12-31', '%Y-%m-%d'));
    </select>

    <update id="changeVersionCode">
        UPDATE
        <if test="issueType=='T'.toString()">
            t_task
        </if>
        <if test="issueType=='B'.toString()">
            t_bug
        </if>
        SET VERSION_CODE = #{version_code}
        WHERE UUID = #{uuid}
    </update>

    <select id="getVersionList" resultType="java.lang.String">
        SELECT VERSION_CODE
          FROM S_VERSION
         WHERE OBJECT_CODE = #{object_code}
           AND IS_COMPLETE is null
         ORDER BY PUBLISH_DATE
    </select>
    <select id="getIssueListByVersionCode" resultType="java.util.Map">
        SELECT UUID,ISSUE_TYPE FROM V_ISSUE
        WHERE VERSION_CODE = #{versionCode} AND OBJECT_CODE = #{objectCode}
    </select>

    <update id="updateVersionCodeState">
        UPDATE S_VERSION V SET V.IS_COMPLETE = '1'
        WHERE OBJECT_CODE = #{objectCode} AND VERSION_CODE = #{versionCode}
    </update>
    <update id="updateIssueState">
        UPDATE
        <if test="issueType=='T'.toString()">
            t_task
        </if>
        <if test="issueType=='B'.toString()">
            t_bug
        </if>
        SET STATE = '10'
        WHERE VERSION_CODE = #{versionCode}
          AND OBJECT_CODE = #{objectCode}
    </update>
    <select id="getLaunchDetail" resultType="java.util.Map">
        select model_code from v_issue
        WHERE object_code = #{objectCode}
        and version_code = #{versionCode}
        group by model_code
    </select>
</mapper>
