<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sgcc.comm.util.dao.CommDao">

    <insert id="insertIssueRecord" parameterType="java.util.Map">
        INSERT INTO t_record
            (
                uuid,
                business_id,
                operate_time,
                operator,
                operate_detail,
                remark,
                is_enable
            )
        VALUES
            (
                #{uuid,jdbcType = VARCHAR},
                #{businessId,jdbcType = VARCHAR},
                SYSDATE(),
                #{operator,jdbcType = VARCHAR},
                #{operateDetail,jdbcType = VARCHAR},
                #{remark,jdbcType = VARCHAR},
                '1'
            )
    </insert>
    <select id="getIssueRecord" resultType="java.util.Map">
        select
          tr.uuid,
          date_format(tr.operate_time, '%Y-%m-%d') sdate,
          date_format(tr.operate_time, '%T') stime,
          tr.operator,
          su.nickname,
          tr.operate_detail,
          tr.remark
         from t_record tr
         left join s_users su
           on su.username = tr.operator
        where business_id = #{businessId}
          and is_enable = '1'
        order by operate_time desc
    </select>
    <select id="getPropertiesByKey" resultType="java.util.Map">
        SELECT p_key,p_value FROM s_properties
    </select>

</mapper>
